@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
}

body {
  @apply bg-slate-50 text-slate-900;
  scroll-behavior: smooth;
}

.glass {
  @apply bg-white/70 backdrop-blur-md;
}
